@{
    ViewData["Title"] = "Больные";
}
<div class="text-center text-info">
    <h1>Больные</h1>
</div>
<hr />
<form method="get">
    <div class="form-inline">

        @Html.DropDownList("Diagnos", ViewBag.Diagnos as SelectList)</br>
        @Html.DropDownList("Number", ViewBag.Number as SelectList)</br>
        <input type="number" value=@ViewBag.Person name="Person" step="0.01" id="Person" min="0"></br>
        <input type="submit" asp-controller="Healing" asp-route-id=@ViewBag.Id asp-action="AddService" value="Добавить процедуры" class="btn btn-default" />
    </div>
</form>

