@{
    ViewData["Title"] = "Диагноз";
}
<div class="text-center text-info">
    <h1>Диагноз</h1>
</div>
@using (Html.BeginForm("AddDiagnosis", "Spravka", FormMethod.Post))
{
    <input type="text" name="_ocenka" value="" />
    <br />
    <button name="action" value="add">Добавить</button>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <tr>
        <td>Название</td>
    </tr>
    @foreach (var doctor in ViewBag.Diagnosis)
    {
        <tr>
            <td>@doctor.Name</td>
        </tr>
    }
</table>